
<FluentTabs Id="tabs" @bind-ActiveTabId="_activeTabId" Style="flex:1;height:1px;overflow:auto;padding-bottom:1rem;">
    <FluentTab Label="Recent" Id="tab-recent">

        <FluentDataGrid DisplayMode="DataGridDisplayMode.Table" ItemKey="t => t.Cusip!" AutoFit="false" Items="Treasuries?.AsQueryable()" Loading="Treasuries is null">
            <TemplateColumn Width="100px" Align="Align.Center" Title="Details">
                <div class="flex items-center justify-center">
                    <FluentIcon Value="new Size20.Link()" OnClick="() => NavigateTreasuryItem(context)"/>
                </div>
            </TemplateColumn>
            <PropertyColumn Width="130px" Style="@Statics.GridFont" Property="@(p => p.Cusip)" Sortable="true"/>
            <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.AuctionDate)" Title="Auction date" Format="@Statics.DateFormatString" Sortable="true"/>
            <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.IssueDate)" Title="Issue date" Format="@Statics.DateFormatString" Sortable="true"/>
            <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.MaturityDate)" Title="Maturity date" Format="@Statics.DateFormatString" Sortable="true"/>
            <PropertyColumn Width="100px" Style="@Statics.GridFont" Property="@(p => p.Type)" Title="Type" Sortable="true"/>
            <PropertyColumn Width="200px" Style="@Statics.GridFont" Property="@(p => p.Term)" Title="Term" Sortable="true" SortBy="@Statics.TermSpanSort"/>
            <TemplateColumn Width="100px" Title="Save" Align="Align.Center">
                <div class="flex items-center justify-center">
                    <FluentIcon Title="@($"Save {context.Type} {context.Term}")" Value="new Size20.Save()" OnClick="() => AddInvestment(context)"/>
                </div>
            </TemplateColumn>
        </FluentDataGrid>

    </FluentTab>

    <FluentTab Label="Upcoming" Id="tab-upcoming">
        <FluentLabel Typo="Typography.PaneHeader" MarginBlock="default">Upcoming todo</FluentLabel>
    </FluentTab>

</FluentTabs>


@code {


    [Parameter] public IEnumerable<Treasury>? Treasuries { get; set; }

    string? _activeTabId = "tab-recent";


    void NavigateTreasuryItem(object context)
    {
    }

    void AddInvestment(object context)
    {
    }

}