<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="dark light">
    <base href="/"/>
    @*     <link href="@Assets["_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css"]" rel="stylesheet"/>
 *@ 
    <link href="@Assets["_content/DevExpress.Blazor.Themes/fluent-light.min.css"]" rel="stylesheet" media="(prefers-color-scheme: light)"/>
    <link href="@Assets["_content/DevExpress.Blazor.Themes/fluent-dark.min.css"]" rel="stylesheet" media="not (prefers-color-scheme: light)"/>
    @DxResourceManager.RegisterScripts()
    <link href="@Assets["css/site.css"]" rel="stylesheet"/>
    <link href="@Assets["Pip.Web.styles.css"]" rel="stylesheet"/>
    <link href="@Assets["css/tailwind.output.css"]" rel="stylesheet"/>

    <HeadOutlet/>
</head>
<body>
    <Routes/>
    @* ReSharper disable once Html.PathError *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>