@page "/auctions"
@using Microsoft.Extensions.Caching.Memory
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@inject ITreasuryDataProvider TreasuryDataProvider
@inject IMemoryCache Cache
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Auctions</PageTitle>

<div class="flex max-h-full flex-col overflow-y-hidden">

    <FluentLabel Typo="Typography.PageTitle" MarginBlock="default">Auctions</FluentLabel>

    <FluentTabs @bind-ActiveTabId="_activeTabId" Style="flex:1;height:1px;overflow:scroll;padding-bottom:1rem;">

        <FluentTab Label="Recent" Id="tab-recent">
            @if (_activeTabId == "tab-recent")
            {
                <FluentDataGrid AutoFit="false" Items="RecentTreasuries?.AsQueryable()" Loading="RecentTreasuries is null">
                    <TemplateColumn Width="100px" Align="Align.Center" Title="Details">
                        <div class="flex items-center justify-center">
                            <FluentIcon Value="new Size20.Link()" OnClick="() => NavigateTreasuryItem(context)"/>
                        </div>
                    </TemplateColumn>
                    <PropertyColumn Width="130px" Style="@Statics.GridFont" Property="@(p => p.Cusip)" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.AuctionDate)" Title="Auction date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.IssueDate)" Title="Issue date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.MaturityDate)" Title="Maturity date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="100px" Style="@Statics.GridFont" Property="@(p => p.Type)" Title="Type" Sortable="true"/>
                    <PropertyColumn Width="200px" Style="@Statics.GridFont" Property="@(p => p.Term)" Title="Term" Sortable="true" SortBy="@Statics.TermSpanSort"/>
                    <TemplateColumn Width="100px" Title="Save" Align="Align.Center">
                        <div class="flex items-center justify-center">
                            <FluentIcon Title="@($"Save {context.Type} {context.Term}")" Value="new Size20.Save()" OnClick="() => AddInvestment(context)"/>
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            }
        </FluentTab>

        <FluentTab Label="Upcoming" Id="tab-upcoming">
            @if (_activeTabId == "tab-upcoming")
            {
                <FluentDataGrid AutoFit="false" Items="UpcomingTreasuries?.AsQueryable()" Loading="UpcomingTreasuries is null">
                    <PropertyColumn Width="130px" Style="@Statics.GridFont" Property="@(p => p.Cusip)" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.AuctionDate)" Title="Auction date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.IssueDate)" Title="Issue date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="180px" Align="Align.End" Style="@Statics.GridFont" Property="@(p => p.MaturityDate)" Title="Maturity date" Format="@Statics.DateFormatString" Sortable="true"/>
                    <PropertyColumn Width="100px" Style="@Statics.GridFont" Property="@(p => p.Type)" Title="Type" Sortable="true"/>
                    <PropertyColumn Width="200px" Style="@Statics.GridFont" Property="@(p => p.Term)" Title="Term" Sortable="true" SortBy="@Statics.TermSpanSort"/>
                    <TemplateColumn Width="100px" Title="Save" Align="Align.Center">
                        <div class="flex items-center justify-center">
                            <FluentIcon Title="@($"Save {context.Type} {context.Term}")" Value="@(new Size20.Save())" OnClick="@(_ => AddInvestment(context))"/>
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            }
        </FluentTab>

    </FluentTabs>

</div>

@code
{

    private string? _activeTabId = "tab-recent";
    private IList<TreasuryItemViewModel>? RecentTreasuries { get; set; }
    private IList<TreasuryItemViewModel>? UpcomingTreasuries { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(LoadRecent(), LoadUpcoming());
    }

    private async Task LoadRecent()
    {
        RecentTreasuries = await Cache.GetOrCreateAsync(nameof(RecentTreasuries), async e =>
        {
            e.AbsoluteExpirationRelativeToNow = TimeSpan.FromMinutes(5);

            IAsyncEnumerable<Treasury?> treasuries = TreasuryDataProvider.GetRecentAsyncEnumerable();

            IList<TreasuryItemViewModel> entries = [];
            await foreach (Treasury? treasury in treasuries)
            {
                if (treasury is null) continue;
                entries.Add(
                    new TreasuryItemViewModel
                    {
                        Cusip = treasury.Cusip,
                        IssueDate = treasury.IssueDate,
                        MaturityDate = treasury.MaturityDate,
                        AuctionDate = treasury.AuctionDate,
                        Term = treasury.SecurityTerm,
                        Type = treasury.Type
                    });
            }

            return entries;
        });
    }

    private async Task LoadUpcoming()
    {
        UpcomingTreasuries = await Cache.GetOrCreateAsync(nameof(UpcomingTreasuries), async e =>
        {
            e.AbsoluteExpirationRelativeToNow = TimeSpan.FromMinutes(5);

            IAsyncEnumerable<Treasury?> treasuries = TreasuryDataProvider.GetUpcomingAsyncEnumerable();

            IList<TreasuryItemViewModel> entries = [];

            await foreach (Treasury? treasury in treasuries)
            {
                if (treasury is null) continue;
                entries.Add(
                    new TreasuryItemViewModel
                    {
                        Cusip = treasury.Cusip,
                        IssueDate = treasury.IssueDate,
                        MaturityDate = treasury.MaturityDate,
                        AuctionDate = treasury.AuctionDate,
                        Term = treasury.SecurityTerm,
                        Type = treasury.Type
                    });
            }

            return entries;
        });
    }

    private async Task AddInvestment(TreasuryItemViewModel treasuryItem)
    {
        DialogResult result = await DialogService.OpenCreateInvestmentDialogAsync(treasuryItem);
        if (result.Data is Investment newInvestment)
        {
            TreasuryDataProvider.Insert(newInvestment);

            ToastService.ShowToast(new ToastOptions()
            {
                RenderStyle = ToastRenderStyle.Success,
                Title = "Success",
                Text = "The investment was saved.",
                ThemeMode = ToastThemeMode.Pastel
            });
            Navigation.NavigateTo("investments");
        }
    }

    private void NavigateTreasuryItem(TreasuryItemViewModel treasuryItem)
    {
        Navigation.NavigateTo($"treasury/{treasuryItem.Cusip}/{treasuryItem.IssueDate?.ToString("yyyy-MM-dd")}");
    }
}