@page "/weather"
@using System.Diagnostics

@attribute [StreamRendering]

@inject PipDbContext DbContext
@inject InvestmentPageState PageState

<PageTitle>Investments</PageTitle>
<h1>Investments</h1>

<DxLoadingPanel Visible="PageState.Investments is null" IsContentBlocked="true" ApplyBackgroundShading="true" IndicatorAreaVisible="false">
    <div class="flex flex-col">
@* <DxGrid Data="@PageState.Investments"
        CssClass="w-full flex-1">
    <Columns>
        <DxGridDataColumn Caption="CUSIP" FieldName="@nameof(Investment.Cusip)"/>
        <DxGridDataColumn Caption="Term" FieldName="@nameof(Investment.SecurityTerm)"/>
        <DxGridDataColumn Caption="Type" FieldName="@nameof(Investment.Type)"/>
        <DxGridDataColumn Caption="Auction Date" FieldName="@nameof(Investment.AuctionDate)"/>
        <DxGridDataColumn Caption="Issue Date" FieldName="@nameof(Investment.IssueDate)"/>
        <DxGridDataColumn Caption="Maturity Date" FieldName="@nameof(Investment.MaturityDate)"/>
        <DxGridDataColumn Caption="Par" FieldName="@nameof(Investment.Par)"/>
    </Columns>
</DxGrid> *@

<InvestmentsGrid Investments="@PageState.Investments"/>
    </div>
</DxLoadingPanel>

@code {
    protected override async Task OnInitializedAsync()
    {
        Debug.WriteLine($"PageState investments: {PageState.Investments}");
        PageState.Investments ??= await Load();
    }

    private async Task<List<Investment>> Load()
    { 
        return await DbContext.Investments.ToListAsync();
    }


    public class InvestmentPageState
    {
        public List<Investment>? Investments { get; set; }
    }
}